/* General Styles */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #1d1e22;
  color: #fff;
}

/* Logo Container */
.logo-container {
  text-align: center;
  padding: 20px 0;
  background-color: #1d1e22;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  max-width: 500px;
  height: auto;
}

/* Timeline Styles */
.timeline {
  position: relative;
  margin: 20px auto;
  width: 90%;
  max-width: 800px;
}

.timeline ul {
  list-style: none;
  padding: 0;
}

.timeline ul:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 2px;
  background: #fff;
  left: 50%;
  top: 0;
  z-index: 1;
}

.timeline ul li {
  position: relative;
  margin: 20px 0;
  text-align: center;
}

.timeline-point {
  width: 15px;
  height: 15px;
  background: rgba(59, 112, 239, 1);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(58, 112, 239, 0.2);
  margin: 0 auto;
  cursor: pointer;
}

.card {
  background: #282c34;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  width: 60%;
  padding: 20px;
  margin: 10px auto;
  text-align: center;
  display: none;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
}

.card img {
  max-width: 100%;
  border-radius: 8px;
  margin-top: 10px;
}

.card.open {
  display: block;
}
